/* Global font settings */
body {
  font-family: 'Arial', sans-serif;
  background-color: #2b2b2b;
  color: #f0f0f0;
  margin: 0;
  overflow-x: hidden;
}

/* Title styling */
h1 {
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  /* margin-bottom: 20px; */
  margin: 10px 0;
  cursor: pointer;
}

@media (max-width: 600px) {
  h1 {
    font-size: 28px;
    /* margin-bottom: 15px; */
    margin: 10px 0;
  }
}

/* Search form styling */
form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.search-input {
  /* width: 80vw; */
  width: calc(100% - 130px);
  max-width: 300px;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #444444;
}

/* Button */
button {
  /* width: 50%; */
  /* width: 80vw;
  max-width: 150px; */
  width: 120px;
  height: 40px;
  padding: 0px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #ff9800;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
}

button:hover {
  background-color: #e68900;
}

@media (max-width: 600px) {
  .search-input, button {
    width: 90%;
    margin: 5px;
  }
}

/* Pokemon Grid */
.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  padding: 0.5rem;
  /* overflow: hidden; */
}

.pokemon-card {
  /* max-width: 95%;  */
  /* margin: 0 auto;  */
  background-color: #3a3a3a;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s;
  overflow: hidden;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (orientation: landscape) {
  .pokemon-grid {
    padding: 0.25rem; /* Further reduce padding */
  }
  .pokemon-card {
    max-width: 80vw; /* Cap card width at 80% of viewport */
  }
  form {
    flex-direction: column; /* Stack form elements vertically */
  }
}


/* Suggestions list styling */
.suggestions-list li {
  padding: 10px;
  background-color: #444444;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggestions-list li:hover {
  background-color: #ff9800;
}

@media (prefers-color-scheme: light) {
  button {
    background-color: #ff9800;
    color: #ffffff;
    border: 1px solid #cccccc; /* Add border for light theme */
  }
  button:hover {
    background-color: #e68900;
  }
}

@media (prefers-color-scheme: dark) {
  button {
    background-color: #ff9800;
    color: #ffffff;
    border: none;
  }
}
